<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/modify" method="post">
        <input type="hidden" name="idx" value="{{result.idx}}">
        <table>
            <tr>
                <th>작성자</th>
                <td><input type="text" name="writer" value="{{result.writer}}"></td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" name="subject" value="{{result.subject}}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea>{{result.content}}</textarea>
                </td>
            </tr>
        </table>

        <input type="submit" value="글수정">
    </form>
</body>
</html>